[flake8]
max-line-length = 79

exclude=
    .gitignore,

    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
    env/,
    venv/,
    database/,
    README.md,
    requirements.txt,
    *desktop.ini,
